services:

  client:
    build:
      context: .
      dockerfile: ./client/dockerfile
    container_name: client
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - .env
    networks:
      - transcendence
    restart: unless-stopped
    ports:
      - "3000:3000"

  server:
    build:
      context: .
      dockerfile: ./server/dockerfile
    container_name: server
    volumes:
      - ./server:/var/www/server
      - /var/www/server/node_modules
    env_file:
      - .env
    networks:
      - transcendence
    restart: unless-stopped
    ports:
      - "4000:4000"

  prometheus:
    build:
      context: ./prometheus
      dockerfile: dockerfile
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=/prometheus'
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    expose:
      - "9090"
    networks:
      - transcendence
    restart: unless-stopped

  grafana:
    build:
      context: ./grafana
      dockerfile: dockerfile
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_ROOT_URL=/grafana
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    depends_on:
      - prometheus
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/etc/grafana/pervisioning/dashboards
      - grafana_data:/var/lib/grafana
    expose:
      - "3000"
    networks:
      - transcendence
    restart: unless-stopped

  node_exporter:
    build:
      context: ./node_exporter
    container_name: node_exporter
    expose:
      - "9100"
    networks:
      - transcendence
    restart: unless-stopped

  elasticsearch:
    build: ./elk/elasticsearch
    container_name: elasticsearch
    environment:
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    expose:
      - "9200"
    networks:
      - transcendence
    restart: unless-stopped
    mem_limit: 2g

  kibana:
    build: ./elk/kibana
    container_name: kibana
    depends_on:
      - elasticsearch
    expose:
      - "5601"
    networks:
      - transcendence
    restart: unless-stopped

  logstash:
    build: ./elk/logstash
    container_name: logstash
    depends_on:
      - elasticsearch
    expose:
      - "5044"
    networks:
      - transcendence
    restart: unless-stopped

  filebeat:
    build: ./elk/filebeat
    container_name: filebeat
    user: root
    depends_on:
      - logstash
    networks:
      - transcendence
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: ./nginx/dockerfile
    container_name: nginx
    ports:
      - "443:443"
    networks:
      - transcendence
    restart: unless-stopped

networks:
  transcendence:
    name: transcendence

volumes:
  grafana_data:
  elastic_data:
