services:

  client:
    build:
      context: .
      dockerfile: ./client/dockerfile
    container_name: client
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - .env
    networks:
      - transcendence
    restart: unless-stopped
    ports:
      - "3000:3000"

  server:
    build:
      context: .
      dockerfile: ./server/dockerfile
    container_name: server
    volumes:
      - ./server:/var/www/server
      - /var/www/server/node_modules
    env_file:
      - .env
    networks:
      - transcendence
    restart: unless-stopped
    ports:
      - "4000:4000"

  nginx:
    build:
      context: .
      dockerfile: ./nginx/dockerfile
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - client
      - server
      - prometheus
      - grafana
    volumes:
      - ./nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - transcendence
    image: nginx:trans
    restart: unless-stopped
  
  prometheus:
    build:
      context: ./prometheus
      dockerfile: dockerfile
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=https://localhost/prometheus'
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    expose:
      - "9090"
    networks:
      - transcendence
    restart: unless-stopped

  grafana:
    build:
      context: ./grafana
      dockerfile: dockerfile
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_ROOT_URL=https://localhost/grafana
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    depends_on:
      - prometheus
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - grafana_data:/var/lib/grafana
    expose:
      - "3000"
    networks:
      - transcendence
    restart: unless-stopped

  node_exporter:
    build:
      context: ./node_exporter
      dockerfile: dockerfile
    container_name: node_exporter
    expose:
      - "9100"
    networks:
      - transcendence
    restart: unless-stopped

  elasticsearch:
    build:
      context: ./elk/elasticsearch
      dockerfile: Dockerfile
    container_name: elasticsearch
    ports:
      - "9200:9200"
    networks:
      - transcendence
    restart: unless-stopped

  logstash:
    build:
      context: ./elk/logstash
      dockerfile: dockerfile
    container_name: logstash
    depends_on:
      - elasticsearch
    volumes:
      - /var/log:/var/log
    expose:
      - "5044"
    networks:
      - transcendence
    restart: unless-stopped

  kibana:
    build:
      context: ./elk/kibana
      dockerfile: Dockerfile
    container_name: kibana
    depends_on:
      - elasticsearch
    volumes:
      - ./elk/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
      - ./elk/kibana/dashboard.ndjson:/usr/share/kibana/config/dashboard_template.ndjson:ro
    ports:
      - "5601:5601"
    networks:
      - transcendence
    restart: unless-stopped

networks:
  transcendence:
    name: transcendence

volumes:
  grafana_data:
