services:
  client:
    build:
      context: .
      dockerfile: ./client/dockerfile
    container_name: client
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - .env
    networks:
      - transcendence
    restart: unless-stopped
    ports:
      - "3000:3000"

  server:
    build:
      context: .
      dockerfile: ./server/dockerfile
    container_name: server
    volumes:
      - ./server:/var/www/server
      - /var/www/server/node_modules
    env_file:
      - .env
    networks:
      - transcendence
    restart: unless-stopped
    ports:
      - "4000:4000"

  prometheus:
    build:
      context: ./prometheus
      dockerfile: dockerfile
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=/prometheus'
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    expose:
      - "9090"
    networks:
      - transcendence
    restart: unless-stopped

  grafana:
    build:
      context: ./grafana
      dockerfile: dockerfile
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_SERVER_ROOT_URL=${GF_SERVER_ROOT_URL}
      - GF_AUTH_ANONYMOUS_ENABLED=${GF_AUTH_ANONYMOUS_ENABLED}
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    depends_on:
      - prometheus
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - grafana_data:/var/lib/grafana
    expose:
      - "3000"
    networks:
      - transcendence
    restart: unless-stopped

  node_exporter:
    build:
      context: ./node_exporter
      dockerfile: dockerfile
    container_name: node_exporter
    expose:
      - "9100"
    networks:
      - transcendence
    restart: unless-stopped

  es_certs:
    build:
      context: ./elk/certs
      dockerfile: dockerfile
    container_name: es_certs
    user: "0"
    volumes:
      - es_certs:/certs
    networks:
      - transcendence
    restart: "no"

  elasticsearch:
    build:
      context: ./elk/elasticsearch
      dockerfile: Dockerfile
    container_name: elasticsearch
    environment:
      - ES_JAVA_OPTS=-Xms1g -Xmx2g
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - KIBANA_PASSWORD=${KIBANA_PASSWORD}
      - LOGSTASH_INTERNAL_PASSWORD=${LOGSTASH_INTERNAL_PASSWORD}
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
      - es_certs:/usr/share/elasticsearch/config/certs
      - ./elk/scripts:/usr/share/elasticsearch/scripts   # <-- required for running setup script
    expose:
      - "9200"
    networks:
      - transcendence
    restart: unless-stopped
    mem_limit: 4g
    depends_on:
      - es_certs

  kibana:
    build:
      context: ./elk/kibana
      dockerfile: Dockerfile
    container_name: kibana
    environment:
      - KIBANA_PASSWORD=${KIBANA_PASSWORD}
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - KIBANA_ENCRYPTION_KEY=${KIBANA_ENCRYPTION_KEY}
    volumes:
      - es_certs:/usr/share/kibana/config/certs:ro
    depends_on:
      - elasticsearch
      - es_certs
    expose:
      - "5601"
    networks:
      - transcendence
    restart: unless-stopped

  logstash:
    build:
      context: ./elk/logstash
      dockerfile: Dockerfile
    container_name: logstash
    environment:
      - LOGSTASH_INTERNAL_PASSWORD=${LOGSTASH_INTERNAL_PASSWORD}
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
    volumes:
      - es_certs:/usr/share/logstash/config/certs:ro
    depends_on:
      - elasticsearch
      - es_certs
    expose:
      - "5044"
    networks:
      - transcendence
    restart: unless-stopped

  filebeat:
    build:
      context: ./elk/filebeat
      dockerfile: Dockerfile
    container_name: filebeat
    user: root
    volumes:
      - es_certs:/usr/share/filebeat/certs:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - logstash
      - es_certs
    networks:
      - transcendence
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: ./nginx/dockerfile
    container_name: nginx
    ports:
      - "443:443"
    networks:
      - transcendence
    restart: unless-stopped

networks:
  transcendence:
    name: transcendence

volumes:
  grafana_data:
  elastic_data:
  es_certs:
